@keyframes slide {
   0% {
      transform: scaleX(0);
      opacity: 0.2;
   }
   80% {
      transform: scaleX(1.05);
      opacity: 0.7;
   }
   100% {
      transform: scaleX(1);
      opacity: 1;
   }
}

header {
   width: 100%;
   height: 65px;
   display: flex;
   justify-content: center;
   background-color: #f0f0f0;

   & .nav {
      width: 85%;
      background-color: var(--mainColor6);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 8px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      & .logo {
         display: flex;
         justify-content: center;
         align-items: center;
         color: var(--mainColor4);

         & span {
            color: #1c332b;
            font-size: 30px;
         }
      }

      & .nav-list {
         display: flex;
         justify-content: center;

         & .nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65px;
            position: relative;
            min-width: fit-content;
            padding: 0 20px;
            font-size: 18px;

            &:hover {
               &::after {
                  display: flex;
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  height: 3px;
                  border-radius: 5px;
                  background-color: var(--mainColor4);
                  animation: slide 0.25s ease;
               }
            }
         }
      }

      & .search-box {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         position: relative;
         // flex: 1;
         // margin-right: 20px;

         input {
            width: 400px;
            height: 46px;
            background-color: var(--mainColor5);
            padding-left: 20px;
            padding-right: 46px;
            line-height: 16px;
            border-radius: 50px;
            font-size: 18px;

            &:focus {
               border: 1px solid #1c332b;
            }
         }

         & .search-history {
            padding: 6px;
            margin-bottom: 4px;

            & .history-item {
               display: flex;
               align-items: center;
               margin-bottom: 4px;

               & span {
                  font-size: 14px;
                  border: 1px solid #666;
                  border-radius: 50px;
                  padding: 0 4px;
               }
            }
         }

         & .search-btn {
            position: absolute;
            right: 2px;
         }
      }

      & .list-brand {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 6px;
      }

      & .right-features {
         & .actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            max-width: 300px;

            & .register-btn {
            }

            & .register-btn {
            }
         }

         & .account {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            max-width: 300px;

            & .cart-btn {
               position: relative;
               margin-right: 10px;

               & span {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -30%);
                  font-size: 16px;
                  color: #333;
                  -webkit-tap-highlight-color: transparent;
               }
            }

            & .user-name {
               & h4 {
                  font-size: 18px;
                  font-weight: 400;
               }

               &:hover {
                  cursor: pointer;
                  color: #666;
               }
            }
         }
      }
   }
}
