.orders-page {
   width: 100%;
   display: flex;
   justify-content: center;

   & .orders-list {
      width: 85%;
      display: grid;
      grid-template-columns: 640px 640px;
      gap: 13px;
      padding: 16px 0;

      & .order {
         width: 640px;
         height: fit-content;
         padding: 8px;
         border-radius: 8px;
         background-color: white;
         position: relative;

         & .order-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #999;
            margin: 0 10px;

            & .order-code,
            .order-status {
               padding: 10px 5px;
               font-size: 19px;
               font-weight: 400;
               color: var(--txtColor);
            }

            & i {
               color: #777;
               margin-right: 5px;
            }

            & .order-status {
               color: var(--mainColor4);
            }
         }

         & .products-list {
            padding: 0 10px;

            & .product {
               display: flex;
               justify-content: space-between;
               align-items: center;
               border-bottom: 1px solid #eee;
               padding: 10px 0;

               & .flex {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
               }

               & img {
                  width: 80px;
                  height: 80px;
                  object-fit: cover;
               }

               & .flex-info {
                  height: 80px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  margin-left: 10px;

                  & .product-name {
                     font-size: 19px;
                     font-weight: 400;
                  }

                  & .product-amount {
                  }
               }

               & .price {
                  display: flex;
                  align-items: flex-end;

                  & .old-price {
                     color: #777;
                     text-decoration: line-through;
                     font-size: 18px;
                     margin-right: 5px;
                  }

                  & .current-price {
                     font-size: 20px;
                     font-weight: 400;
                     color: var(--mainColor4);
                  }
               }
            }
         }

         & .order-total {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 20px 10px;
            border-top: 1px solid #999;
            color: var(--mainColor4);
            font-size: 24px;

            & i {
               margin-right: 5px;
               font-size: 19px;
               color: var(--txtColor);
            }
         }

         & .order-actions {
            display: flex;
            justify-content: flex-end;
            margin: 10px 10px;
         }

         & .cancel-flag {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
      }

      & .no-product {
         width: 100%;
         margin-top: 16px;
         text-align: center;
         font-size: 26px;
      }
   }
}
